.blocksecond {
  padding: 0 120px;
}

.imgblocksecond {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 21px;
     padding:21px 0px ;

}

.imgwrapper {
  position: relative;
  border-radius: 15px;
  overflow: hidden;

}

.imgwrapper img {
  width: 100%;
  height: 400px;
  object-fit: cover;
  display: block;
}

.textblocksecond {

  position: absolute;
  bottom: 0;
  height: 80px;
  font-size: 24px;
  color: #1F1F1F;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: #B6C3C2;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  font-family: Montserrat;
  font-weight: 600;
  text-transform: uppercase;
}

.recblock{
    display:flex;
    flex-direction: row;
    gap:20px;
    padding: 20px 0px;
}

.recblock img
{
    width: 223px;
height: 286px;
border-radius: 15px;
}



.imgblocknew1 {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 21px;
    

}
.imgblocknew1 img{
     height: 275px;
      width: 100%;
        border-radius: 15px;
        object-fit: cover;
}

.imgblocknew2 {
   display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 21px;
}
.imgblocknew2 img {
  width: 100%;
height:675px;
        border-radius: 15px;
        object-fit: cover;

}

.gridnew
{
      display: grid;
  gap: 21px;
}

.gridcatalogue
{
  display:grid;
  grid-template-columns: repeat(6, 1fr);
  gap:30px;
}

.gridcatalogueitem {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.gridcatalogue img{
  width: 140px;
height: 145px;
top: 6px;
border-radius: 15px;
}

.ideasgrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 21px;
  padding: 20px 0;
}

.ideasgrid1,
.ideasgrid2 {
  display: grid;
  gap: 21px;
  height: 70%; /* important */
}

.ideasgrid1 {
  grid-template-rows: 2fr 1fr;
}

.ideasgrid2 {
  grid-template-rows: 1fr 2fr;
}


.image-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.image-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
  display: block;
}
.ideasname {
  display: flex;
  flex-direction: rows;
  gap:20px;
padding: 20px 0 10px 0;
}

.nameideas{
     
  width:160px;
  height: 40px;
  font-size: 14px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius:30px ;
  font-family: Montserrat;
  text-transform: uppercase;
  background-color: #F2F2F2;
}